#game-window {
    width: 640px;
    height: 480px;
    border: 5px solid black;
    position: relative;

    #score {
        position: absolute;
        top: 10px;
        left: 10px;
        font-family: Cubic, serif;
        font-size: 32px;
        color: white;
        background-color: rgba(255, 255, 255, 0);
        display: flex;

        img {
            width: 45px;
            height: 45px;
            margin-right: 5px;
        }

        div {
            @include d-flex;
            margin-top: 5px;

            span {
                margin: 0 5px;
            }

            p {
                margin: 0;
            }

            .score-slash {
                font-size: 20px;
                padding-top: 10px;
            }
        }
    }
}

#editor-window {
    width: 736px;
    height: 480px;
    border: 5px solid black;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    position: relative;

    #save-hint {
        position: absolute;
        font-size: 48px;
        color: #fff;
        left: 96px;
        width: 640px;
        height: 480px;
        @include d-flex;
    }
}

.container-edit {
    display: flex;
    position: relative;
    width: 100%;
}

.container-btn-group {
    height: 480px;

    .container-btn {
        height: 32px;
        width: 32px;
        border-radius: 8px;
        @include d-flex;
        @include btn-init(10px);
        background-color: $navbar-color;
        margin-top: 15px;
        position: relative;

        &:hover {
            background-color: $btn-hover-color;
        }

        &:active {
            background-color: $btn-active-color;
        }

        img {
            height: 20px;
            width: 20px;
        }

        .tooltiptext {
            width: 50px;
            font-size: 14px;
            background-color: $tooltip-color;
            color: #fff;
            text-align: center;
            padding: 5px;
            border-radius: 6px;
            position: absolute;
            z-index: 1;
            left: 120%;
            opacity: 0;
            transition: opacity 0.8s;
            visibility: hidden;
            font-family: Cubic;

            &::after {
                content: " ";
                position: absolute;
                top: 50%;
                right: 100%;
                margin-top: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: transparent $tooltip-color transparent transparent;
            }
        }

        &:hover .tooltiptext {
            opacity: 1;
            visibility: visible;
        }
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}