@font-face {
    font-family: Cubic;
    src: url(./assets/Cubic_11_1.013_R.woff2);
}

$content-bg-color: #c7c7c7e8;
$header-bg-color: #000000e8;
$header-color: #ffffffe8;
$navbar-bg-color: #ffffff;
$navbar-color: #4b4b4b;

html,
body {
    background-color: $content-bg-color;
    font-family: Cubic;
    margin: 0;
    height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    background-color: $header-bg-color;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
        margin-left: 15px;
        color: $header-color;
        font-size: 25px;
        cursor: pointer;
    }

    div {
        margin-right: 20px;
        display: flex;
        align-items: center;

        img {
            height: 30px;
            width: 30px;
            border-radius: 30px;
            cursor: pointer;
            margin-right: 15px;
        }

        span {
            color: $header-color;
            font-size: 20px;
            margin-right: 40px;
        }

        button {
            border: 0;
            background-color: #00000000;

            i {
                color: $header-color;
                font-size: 30px;
                cursor: pointer;
            }
        }
    }
}

.section {
    display: flex;
    flex-grow: 1;

    .navbar {
        background-color: $navbar-bg-color;
        width: 200px;
        box-shadow: 5px 0 5px 1px rgba(113, 113, 113, 0.5);

        ul {
            list-style: none;
            padding: 0;

            li {
                height: 50px;
            }
        }
    }

    .container {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.navbar-link,
.navbar-link-title {
    font-size: 20px;
    font-weight: 700;
    color: $navbar-color;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 40px;
}

.navbar-link-title {
    font-size: 30px;
}

.navbar-link:hover {
    color: $header-color;
    background-color: $navbar-color;
}

#game-window {
    width: 640px;
    height: 480px;
    border: 5px solid black;
    position: relative;

    #score {
        position: absolute;
        top: 10px;
        left: 10px;
        font-family: Cubic, serif;
        font-size: 32px;
        color: white;
        background-color: rgba(255, 255, 255, 0);
        display: flex;

        img {
            width: 32px;
            height: 32px;
            margin-right: 10px;
        }

        p {
            margin: 0;
        }
    }
}