@font-face {
    font-family: Cubic;
    src: url(./assets/Cubic_11_1.013_R.woff2);
}

$content-bg-color: #c7c7c7e8;
$header-bg-color: #000000e8;
$header-color: #ffffffe8;
$navbar-bg-color: #ffffff;
$navbar-color: #4b4b4b;
$btn-hover-color: #343434;
$btn-active-color: #161616;
$tooltip-color: rgba(0, 0, 0, 0.555);
$alert-color: rgb(212, 0, 0);

@mixin box-shadow($v, $h: 0) {
    box-shadow: $v $h 5px 1px rgba(113, 113, 113, 0.5);
}

@mixin d-flex($j: center, $a: center) {
    display: flex;
    justify-content: $j;
    align-items: $a;
}

@mixin btn-init($m: 0, $b: 0, $p: 0) {
    margin: $m;
    border: $b;
    padding: $p;
    outline: none;
    cursor: pointer;
}

html,
body {
    background-color: $content-bg-color;
    font-family: Cubic;
    margin: 0;
    height: 100%;
}

#root {
    height: 100%;
}



@import "./scss/header.scss";
@import "./scss/canvas.scss";
@import "./scss/section.scss";
@import "./scss/form.scss";
@import "./scss/project.scss";